/*
 * All hail Solarized!
 *
 * http://ethanschoonover.com/solarized
 */

$blue:      #35b;
$green:     green;

$neutral-input-color: $blue;
$confirm-input-color: $green;
$active-input-color: $green;

$color__link: $blue;
$color__link-hover: $blue;
$color__link-visited: $blue;

$font-color: #444;
