/*
 * All hail Solarized!
 *
 * http://ethanschoonover.com/solarized
 */

$blue:      #35b;
$green:     green;

$neutral-input-color: #3b70e6;
$confirm-input-color: #f4d039;
$active-input-color: #23db8e;

$color__link: $blue;
$color__link-hover: $blue;
$color__link-visited: $blue;

$font-color: #444;
