.icon-arrow {
  position:relative;
  font-weight:300;
  top:0.125em;
}

.icon {
  width:1em;
  height:1em;
  vertical-align: top;
  fill:white;
  circle {
  	fill: white;
  }
  path {
  	fill:white;
  }
  //z-index:1000;
}

.icon.icon--big {
	width:2em;
	height:2em;
}