a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline:2px solid transparentize($active-input-color, 0.95);
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

*:focus {
	outline:2px solid transparentize($active-input-color, 0.95);
	* {
		background-color:transparentize($active-input-color, 0.95);
	}
}
