.blog .field-notes {
	@extend .clearfix;
	position:relative;
}

.blog.blog-single-post .blog-post__meta {
	position:absolute;
	top:12em;
	left:0;
	width:100%;
	color:white;
	text-align:center;
}

.blog .blog-post__meta {
	position:relative;
	top:0;
	color:inherit;
	text-align: left;
	width:inherit;
	font-size:inherit;
}

.blog .section-title {
	color:white;
}

.blog.blog-single-post .post-title {
	font-size:300%;
	color:white;
	padding:0 0.5em;
	@media all and (min-width: 800px) {
		font-size:400%;
	}
}

.blog .post-title {
	font-size:inherit;
	color:inherit;
	padding:0;
}

.blog .field-notes {
	background-image:linear-gradient(to bottom, #eee, #ddd);
	padding:2em 1em;
	@media all and (min-width:600px) {
		padding:2em 2em;	
	}
}

.blog .blog__post {
	margin:0 auto;
	width:100%;
	max-width:34em;
	@media all and (min-width:800px) {
		font-size:125%;
	}
	img {
		width:100%;
		height:auto;
	}
}

.post-navigation {
	@extend .clearfix;
	position:relative;
	min-height:8em;
	width:100%;
	background-color:#666;
	border:0.25em solid white;
	border-bottom:none;
	overflow:hidden;
	@media all and (min-width:600px) {
		height:8em;
		border-bottom:0.25em solid white;
	}
}

.post-navigation li {
	overflow:hidden;
	&:hover .post-navigation__background {
		transform:scale(1.25);	
	}
	&:hover h5 {
		transform:translateY(0);
	}
}

.post-navigation__background {
	transition:transform 5s ease-out;
}

.post-navigation a,
.post-navigation a * {
	position:relative;
	z-index:100;
	color:white;
}

.post-navigation h5 {
	color:white;
	margin-top:1em;
	transform:translateY(50%) translateX(-10%) scale(0.8);
	transition:transform 0.4s ease-out;
}

.post-navigation ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.post-navigation li {
	position: relative;
	display:block;
	width:100%;
	height:8em;
	padding:1em;
	border-bottom:0.25em solid white;
	overflow: hidden;
	a {
		color:white;
	}
	@media all and (min-width:600px) {
		width:50%;
	}
}

li.post-navigation__prevPost {
	float:left;
	@media all and (min-width:600px) {
		border-right:0.125em solid white;
		border-bottom:0.25em solid white;	
	}
	@media all and (min-width:700px) {
		width:33.33333%;
	}
}

li.post-navigation__nextPost {
	float:right;
	@media all and (min-width:600px) {
		border-left:0.125em solid white;
		border-bottom:0.25em solid white;	
	}
	@media all and (min-width:700px) {
		width:33.33333%;
	}
}

.blog .col-1-3 {
	position:relative;
	float:none;
	width:100%;
	margin-bottom:1em;
	@media all and (min-width: 600px) {
		height:13em;	
	}
	@media all and (min-width: 650px) {
		height:12em;
	}
	@media all and (min-width: 800px) {
		float:left;
		width:32.5%;
    margin-right:0.83333%;
    height:100%;
	}
}

.blog .blog__excerpt {
	position:relative;
	width:100%;
	@media all and (min-width:800px) {
		height:33em;	
	}
	@media all and (min-width:1000px) {
		height:31em;
	}
}

.blog.blog-single-post .permalink {
	right:1em;
}

.blog .blog-post__content {
	font-size:0.9em;
}

.blog.blog-single-post,
.blog.blog-single-post .blog-post__content {
	max-height:none;
}

.blog .page-title {
	position:absolute;
	top:45%;
	left:0;
	width:100%;
	font-size:400%;
	color:white;
	text-align:center;
}