$home-main-background-top-overlay:rgba(10,50,90,0.35);
$home-main-background-bottom-overlay:rgba(8,80,70,0.46);

.home {
  @media all and (min-width:600px) {
    height:600%;
  }
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-320.jpg');
  @media all and (min-width: 320px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-480.jpg');
  }
  @media all and (min-width: 480px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-640.jpg');
  }
  @media all and (min-width: 640px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-800.jpg');
  }
  @media all and (min-width: 800px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-1024.jpg');
  }
  @media all and (min-width: 1024px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-1280.jpg');
  }
  @media all and (min-width: 1280px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-1600.jpg');
  }
  @media all and (min-width: 1600px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-1890.jpg');
  }
  @media all and (min-width: 1890px) {
    background-image:linear-gradient(to bottom, $home-main-background-top-overlay, $home-main-background-bottom-overlay), url('/images-build/backgrounds/background-greenfields-2400.jpg');
  }
}

$home-site-header-top-overlay:rgba(50,90,120,0.25);
$home-site-header-bottom-overlay:rgba(230,120,30,0.18);

.home .site-header {
  top:0;
  left:0;
  width:100%;
  padding:2em;
  overflow:hidden;
  z-index:10;
  height:50em;
  position:relative;
  @media all and (min-width:600px) {
      position:absolute;
      height:100%;
  }
  .site-header__background {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
    @media all and (min-width: 600px) {
      padding-bottom:50%;
      background-position: center 35%;
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-320.jpg');
    @media all and (min-width: 320px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-480.jpg');
    }
    @media all and (min-width: 480px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-640.jpg');
    }
    @media all and (min-width: 640px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-800.jpg');
    }
    @media all and (min-width: 800px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-1024.jpg');
    }
    @media all and (min-width: 1024px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-1280.jpg');
    }
    @media all and (min-width: 1280px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-1600.jpg');
    }
    @media all and (min-width: 1600px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-1890.jpg');
    }
    @media all and (min-width: 1890px) {
      background-image:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay), url('/images-build/backgrounds/background-tractor-2400.jpg');
    }
  }
}

.site-intro {
  display:none;
}

.home .site-intro {
  @include extend-animation(smoothFadeInUpCenterCenter, 1.35s, 1s, ease-in-out, 0, forwards);
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  width:80%;
  padding:1em;
  font-family:$sans-serif;
  font-size:200%;
  font-weight:300;
  background:rgba(0,0,0,0.4);
  outline:3000px solid rgba(0,0,0,0.4);
  color:white;
  text-align:center;
  @media all and (min-width:800px) {
    width:70%;
  }
  @media all and (min-width:900px) {
    width:50%;
  }
}

.home .site-intro__link {
  @include extend-animation(smoothFadeInUp, 0.8s, 1.55s, ease-out, 0, forwards);
  font-weight:900;
  color:white;
}

// Front page layouts

.home section {
  @extend .clearfix;
  left:0;
  background-image:linear-gradient(to bottom, #eee, #ddd);
  width:100%;
  padding:1em;
  position:relative;
  min-height:50em;
  border-bottom:1px solid #d5d5d5;
  @media all and (min-width:600px) {
    padding:2em;
    position:absolute;
    height:100%;
    min-height:0;
  }
}


// About
.home .about-promo {
  position:relative;
  @media all and (min-width:600px) {
    position:absolute;
    top:100%;
    height:150%;
  }
  & .col-1-3 {
    @extend .col-1-2;
    height:20em;
    @media all and (min-width:600px) {
      height:33.33333%;
    }
  }
  .about-grid__three {
    float:right;
  }
  .about-grid__four {
    float:right;
  }
  @media all and (min-width:950px) {
    height:100%;
    .col-1-3 {
      width: 33.33333%;
      float: left;
      height:50%;
    }
  }
}

// Food
.home .food-promo {
  position:relative;
  @media all and (min-width:600px) {
    position:absolute;
    top:250%;
  }
  @media all and (min-width:950px) {
    top:200%;
  }
}

.home .field-notes-promo {
  @media all and (min-width:600px) {
    top:350%;
  }
  @media all and (min-width:950px) {
    top:300%;
  }
}

.home .photos-promo {
  & .col-1-3 {
    @extend .col-1-2;
    height:33.33333%;
  }
  @media all and (min-width:600px) {
    top:450%;
    height:150%;
  }
  @media all and (min-width:950px) {
    height:100%;
    top:400%;
    .col-1-3 {
      width: 33.33333%;
      float: left;
      height:50%;
    }
  }
}

.home .site-footer {
  width:100%;
  padding:2em;
  @media all and (min-width:600px) {
    position: absolute;
    top:600%;
    height:100%;
  }
  @media all and (min-width:950px) {
    top:500%;
  }
}


/*
 * Front page layout details
 *
 * ABOUT
 *
 */

.home .about-promo {
  padding:0;
  text-align: center;
  color:white;
  background: rgba(0,0,0,0.3);
}

.home .about-promo .section-title {
  color:white;
}

.home .about-promo .col-1-3 {
  position:relative;
}

.home .about-promo .inner-content-wrap {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
  width:100%;
  padding:2em;
}

.home .about-promo p {
  margin-bottom:0;
}

$about-grid-linear-gradient:linear-gradient(to bottom, $home-site-header-top-overlay, $home-site-header-bottom-overlay);

.about-grid__one {
  background-image:$about-grid-linear-gradient, url('/images-build/about/john-tractor-original.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.about-grid__three {
  background-image:$about-grid-linear-gradient, url('/images-build/about/11143534_424251924401593_7162826770879627122_n-original.jpg');
  background-size:cover;
  background-repeat: no-repeat;

}

.about-grid__five {
  background-image:$about-grid-linear-gradient, url('/images-build/about/two-farmers-and-a-blue-heeler-1024.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 20% center;
}

.about-grid__one,
.about-grid__three,
.about-grid__five {
  box-shadow:0 0 5px rgba(0,0,0,0.125);
  border:0.5em solid white;
}

/*
 * Front page layout details
 *
 * FOOD
 *
 */
.home .food-promo {
  min-height:0;
}

.food-grid {
  position:relative;
  height:100%;
  width:100%;
  @media all and (min-width:600px) {
    width:41.66667%;
  }
  .col-group {
    position:relative;
    height:0;
    width:100%;
    padding-bottom:33.33333%;
    @media all and (min-width:600px) {
      height:66.66666%;
      padding-bottom:0;
    }
    @media all and (min-width:800px) {
      height:38.2%;
    }
  }
}

.food-grid__item {
  border:0.5em solid white;
}

.food-grid__top {
  width:33.33333%;
  height:0;
  padding-bottom:33.33333%;
  float:left;
  position:relative;
  background-image:$about-grid-linear-gradient, url('/images-build/about/2-Fall-CSA-Lela-lookin-pretty-original.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center 37%;
  border-right:0.25em solid white;
  @media all and (min-width:600px) {
    height:100%;
    border-right:0.5em solid white;
    border-bottom:0;
    float:none;
    height:33.33333%;
    width:100%;
  }
  @media all and (min-width:800px) {
    height:61.8%;
  }
}

.food-grid__left,
.food-grid__right {
  position:relative;
  background-size:cover;
  background-repeat: no-repeat;
  width:33.33333%;
  height:0;
  padding-bottom:33.33333%;
  float:left;
  border:0.5em solid white;
  @media all and (min-width:600px) {
    float:none;
    clear:both;
    height:50%;
    width:100%;
    border-top:0.25em solid white;
  }
  @media all and (min-width:800px) {
    float:left;
    clear:none;
    height:100%;
    width:50%;
  }
}

.food-grid__left {
  background-image:$about-grid-linear-gradient, url('/images-build/food/1stfalcsa-original.jpg');
  border-left:0.25em solid white;
  border-right:0.25em solid white;
  @media all and (min-width:600px) {
    border-top:0.5em solid white;
    border-left:0.5em solid white;
    border-right:0.5em solid white;
  }
  @media all and (min-width:800px) {
    border-right:0.25em solid white;
  }
}

.food-grid__right {
  background-image:$about-grid-linear-gradient, url('/images-build/food/spud-harvest-original.jpg');
  border-left:0.25em solid white;
  @media all and (min-width:600px) {
    border-left:0.5em solid white;
    border-top:0;
  }
  @media all and (min-width:800px) {
    border-top:0.5em solid white;
    border-left:0.25em solid white;
  }
}

.home .food-article {
  position:relative;
  clear:both;
  width:100%;
  float:left;
  padding:1em;
  background-color:white;
  @media all and (min-width:600px) {
    padding:1em 2em 1em 1em;
    clear:none;
    float:right;
    height:100%;
    width:58.33333%;
  }
  @media all and (min-width:700px) {
    padding:3em 4em 3em 3em;
  }
}

.home .food__farmers-market-schedule {
  position: relative;
  margin-top:2em;
  margin-left: auto;
  margin-right: auto;
  max-width:25em;
  border:1px solid #666;
  padding:1em 1em 0 1em;
  text-align:center;
  .fancyCorner-top-left {
    position:absolute;
    top:-1px;
    left:-1px;
    width:1em;
    height:1em;
    border-top:1px solid white;
    border-left:1px solid white;
    border-bottom:1px solid #666;
    border-right:1px solid #666;
  }
  .fancyCorner-top-right {
    position:absolute;
    top:-1px;
    right:-1px;
    width:1em;
    height:1em;
    border-top:1px solid white;
    border-left:1px solid #666;
    border-bottom:1px solid #666;
    border-right:1px solid white;
  }
  .fancyCorner-bottom-left {
    position:absolute;
    bottom:-1px;
    left:-1px;
    width:1em;
    height:1em;
    border-top:1px solid #666;
    border-left:1px solid white;
    border-bottom:1px solid white;
    border-right:1px solid #666;
  }
  .fancyCorner-bottom-right {
    position:absolute;
    bottom:-1px;
    right:-1px;
    width:1em;
    height:1em;
    border-top:1px solid #666;
    border-left:1px solid #666;
    border-bottom:1px solid white;
    border-right:1px solid white;
  }
}


/*
 * Front page layout details
 *
 * PHOTOS
 *
 */

.home .photos-promo {
  position:relative;
  @media all and (min-width:600px) {
    position:absolute;
  }
  padding:0;
  border:0.25em solid #ddd;
}

.home .photo-grid {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.home .photo-grid__item {
  position:relative;
  overflow:hidden;
  height:50%;
  background-size:cover;
  background-repeat:no-repeat;
  border:0.25em solid #ddd;
  &::before {
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:2;
    transition:opacity 0.3s ease-in-out;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover::before {
    opacity:0;
  }
}

.home .photo-grid__photo {
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);
}

.home #photos .section-title {
  position:absolute;
  top:1em;
  left:0;
  width:100%;
  text-align:center;
  color:white;
  z-index:100;
}

.home #photos #js-image-nav {
  position:absolute;
  display:block;
  bottom:2em;
  left:50%;
  height:2em;
  transform:translateX(-50%);
  z-index:200;
}

.home #photos #js-image-nav__ul {
  display:block;
  list-style-type: none;
  padding:0;
  margin:0;
  height:2em;
}

.home #photos #js-image-nav__ul li {
  display:block;
  float:left;
  margin:0 0.5em;
  width:1em;
  height:1em;
  font-family:$sans-serif;
  font-weight:400;
  font-size:150%;
  text-align:center;
}

.home #photos .js-image-nav__link {
  display:block;
  width:1em;
  height:1em;
  color:white;
}

.lightbox {
  &::before {
    position:absolute;
    content:'×';
    top:-2.5%;
    right:-2.5%;
    width:50px;
    height:50px;
    line-height:50px;
    color:white;
    font-weight:900;
    font-family:$sans-serif;
    font-size:600%;
    z-index:2;
  }
  &:hover {
    cursor:pointer;
  }
  & img {
    height:100%;
    width:auto;
    max-width:none;
    box-shadow: 0 0 1000px 1000px rgba(0,0,0,0.8);
  }
}


/*
 * Front page layout details
 *
 * BLOG
 *
 */

.home .field-notes-promo .col-group {
  @include layout(12 .25 after);
}

.home .field-notes-promo .col-1-3 {
  width:100%;
  margin-right:0;
  margin-bottom:1em;
  @media all and (min-width: 800px) {
    width:32.5%;
    margin-right:1.24999%;
  }
}

.home .field-notes-promo .col-last {
  float:right;
  margin-right:0;
}

.home .blog__excerpt {
  @media all and (min-width:600px) {

  }
  background-color:white;
  padding:1em;
}

.home .post-title {
  margin-bottom:0.125em;
}

.home .blog__excerpt .meta-row {
  font-size:0.8em;
  color:#888;
}

.home .blog-post__content {
  margin-top:1em;
}
