.nav-drawer {
  position:fixed;
  top:0;
  left:100%;
  height:100%;
  min-height:100%;
  width:100%;
  //background-color:rgba(0,0,0,0.9);
  background-color:black;
  z-index:1000;
}

.site-navigation--main {
  display:block;
  float:none;
  width:100%;
}

#primary-menu {
  list-style-type: none;
  padding-top:2em;
}

#primary-menu .site-navigation__menu-item {
  padding:0.75em 1em;
  text-align:center;
  text-transform: uppercase;
  font-family:$sans-serif;
  font-weight: 900;
  background:transparent;
  transition:background 0.3s ease-out;
  width:100%;
  font-size:125%;
  @media all and (min-height:600px) {
    padding:1em 2em;
    font-size:150%;
  }
  &:hover {
    transition:background 0.3s ease-out;
    background: linear-gradient(to right, rgba(255,255,255,0.025), rgba(255,255,255,0.05), rgba(255,255,255,0.025));
    a {
      color:$active-input-color;
    }
  }
}

#primary-menu .site-navigation__menu-item a {
  color:white;
  transition:color 0.3s ease-out;
  &:hover {
    transition:color 0.3s ease-out;
    color:$active-input-color;
  }
}

.menu-toggle {
  position:absolute;
  top:1em;
  right:1em;
  font-size:100%;
  height:u(3.35rem);
  width:u(3.5rem);
  padding:0;
  margin:0.5em 0.5em 0 0;
  display:block;
  z-index:1000;
  background:none;
  outline:none;
  border:none;
  box-shadow:none;
  overflow:visible;
  &:hover {
    cursor:pointer;
  }
  .menu-toggle__top,
  .menu-toggle__middle,
  .menu-toggle__bottom {
    position:absolute;
    height:12%;
    width:100%;
    background-color:rgba(255,255,255,0.7);
    box-shadow:0 0 3px 3px rgba(0,0,0,0.0625);
    transition:all 0.2s ease-out;
  }
  .menu-toggle__top {
    top:0;
    transform-origin:100% 0;
  }
  .menu-toggle__middle {
    top:44%;
  }
  .menu-toggle__bottom {
    bottom:0;
    transform-origin:100% 100%;
  }
}

.menu-toggle.js-nav-is-open {
  .menu-toggle__top {
    transform:rotateZ(-45deg) scaleX(1.25);
    background-color:white;
  }
  .menu-toggle__middle {
    transform:scaleX(0);
  }
  .menu-toggle__bottom {
    transform:rotateZ(45deg) scaleX(1.25);
    background-color:white;
  }
}

#js-scroll-indicator {
  @include extend-animation(smoothFadeInUp, 1.35s, 1.5s, ease-in-out, 0, forwards);
  display:none;
  @media all and (min-width:600px) {
    display:block;
    position:fixed;
    bottom:3em;
    right:0.5em;
    width:1em;
    height:10em;
    z-index: 200;  
  }
}

#js-scroll-indicator ul {
  list-style-type:none;
  padding:0;
  margin:0;
}

#js-scroll-indicator li {
  display:block;
  width:0.75em;
  height:0.75em;
  border:0.0625em solid white;
  border-radius:50%;
  margin-bottom: 1em;
  box-shadow:0 0 3px rgba(0,0,0,0.125);
}

#js-scroll-indicator a {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;
  &:focus {
    border:none;
    outline:none;
    background-color: transparent;
  }
}

#js-scroll-indicator a.js-active {
  background-color:rgba(255,255,255,0.5);
}
