.nav-drawer {
  position:fixed;
  top:0;
  left:100%;
  height:100%;
  min-height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.8);
  z-index:1000;
}

.site-navigation--main {
  display:block;
  float:none;
  width:100%;
}

#primary-menu {
  list-style-type: none;
}

#primary-menu .site-navigation__menu-item {
  padding:1em;
  width:100%;
  text-align:center;
  text-transform: uppercase;
  font-family:$sans-serif;
  font-size:150%;
  font-weight: 300;
}

.menu-toggle {
  position:fixed;
  top:1em;
  right:1em;
  font-size:100%;
  height:u(3.35rem);
  width:u(3.5rem);
  padding:0;
  margin:0.5em 0.5em 0 0;
  display:block;
  z-index:1000;
  background:none;
  outline:none;
  border:none;
  box-shadow:none;
  overflow:visible;
  &:hover {
    cursor:pointer;
  }
  .menu-toggle__top,
  .menu-toggle__middle,
  .menu-toggle__bottom {
    position:absolute;
    height:12%;
    width:100%;
    background-color:rgba(255,255,255,0.7);
    box-shadow:0 0 3px rgba(0,0,0,0.5);
  }
  .menu-toggle__top {
    top:0;
  }
  .menu-toggle__middle {
    top:44%;
  }
  .menu-toggle__bottom {
    bottom:0;
  }
}

#js-scroll-indicator {
  @include extend-animation(smoothFadeInUp, 1.35s, 1.5s, ease-in-out, 0, forwards);
  display:none;
  @media all and (min-width:600px) {
    display:block;
    position:fixed;
    bottom:3em;
    right:0.5em;
    width:1em;
    height:10em;
    z-index: 200;  
  }
}

#js-scroll-indicator ul {
  list-style-type:none;
  padding:0;
  margin:0;
}

#js-scroll-indicator li {
  display:block;
  width:0.75em;
  height:0.75em;
  border:0.0625em solid white;
  border-radius:50%;
  margin-bottom: 1em;
  box-shadow:0 0 3px rgba(0,0,0,0.125);
}

#js-scroll-indicator a {
  position:relative;
  display:block;
  width:100%;
  height:100%;
  border-radius:50%;
  &:focus {
    border:none;
    outline:none;
    background-color: transparent;
  }
}

#js-scroll-indicator a.js-active {
  background-color:rgba(255,255,255,0.5);
}
