.site-navigation__menu {
  position:fixed;
  top:2em;
  right:2em;
  list-style-type: none;
  padding:0;
  margin:0;
  z-index:100;
}

.site-navigation__menu-item {
  font-size:116.67%;
  line-height:1.2;
  text-align: right;
  display:block;
  margin-left:1em;
}

.site-navigation__menu-link {
  font-family:$sans-serif;
  font-weight: 900;
  color:#123;
}

.menu-toggle {
  display:block;
  float:right;
  @media all and (min-width: 600px) {
    display:none;
  }
}
