.site-header {
  @extend .clearfix;
}

.site-title {
  margin:0;
}

.site-logo {
  position:relative;
  display:block;
  float:left;
  width:6em;
  margin-top:-0.175em;
  height:auto;
  z-index:200;
}

.site-navigation--main {
  float:right;
}
